﻿
@{
    Layout = null;
}

@model Supervisor

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    <meta name="viewport" content="width=device-width" />
    <title>AddSupervisorConfirmation</title>
</head>
<body class="container">
    <div class="formBody text-center">

        @Model.Name has been added to the current supervisor as @Model.IsAvailable <br />

        <a class="btn btn-primary btn-margin-top" asp-action="AllSupervisor">View all supervisors</a>
    </div>
</body>
</html>
