﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    <meta name="viewport" content="width=device-width" />
    <title>All Supervisor</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" asp-action="Index">PGM Online</a>

        <div id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" asp-action="Index">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link active" asp-action="AllSupervisor">All supervisor</a>
                <a class="nav-item nav-link active" asp-action="ListWithS">All supervisor starts with "S"</a>
            </div>
        </div>
    </nav>
    <div class="container btn-margin-top">
        <div class="text-center">
            <h1>
                List of supervisor
            </h1>
        </div>
        <div class="buttons btn-margin-top btn-margin-bottom">
            <a class="btn btn-primary btn-margin-left" asp-action="GenerateRandomSupervisors">Add random supervisor</a>
        </div>
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Available</th>
                    <th scope="col">Level</th>

                </tr>
            </thead>
            <tbody>
                @foreach (Supervisor supervisor in Model)
                {

                    <tr>
                        <td>@supervisor.Id</td>
                        <td>@supervisor.Name</td>
                        <td>@supervisor.IsAvailable</td>
                        <td>@supervisor.Level</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
    <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
        <div class="container text-center">
            <small>Copyright &copy; Your Website</small>
        </div>
    </footer>
</body>

</html>
