﻿
@{
    Layout = null;
}

@model Supervisor

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    <meta name="viewport" content="width=device-width" />
    <title>PGMView</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">PGM Online</a>
        
        <div id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link active" asp-action="AllSupervisor">All supervisor</a>
                <a class="nav-item nav-link active" asp-action="ListWithS">All supervisor starts with "S"</a>
            </div>
        </div>
    </nav>
    <div class="container btn-margin-top">
        <div class="text-center">
            <h1>
                Post Graduate Manager
            </h1>
        </div>
        <div class="formBody">
            <form asp-action="PGMOnline" method="post">
                <div class="validation-summary-error" asp-validation-summary="All"></div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" asp-for="Id">Id</label>
                    <div class="col-sm-10">
                        <input class="form-control " asp-for="Id" placeholder="Id" />
                    </div>

                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" asp-for="Name">Name</label>
                    <div class="col-sm-10">
                        <input class="form-control" asp-for="Name" placeholder="Name" />
                    </div>

                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" asp-for="IsAvailable">Availability</label>
                    <div class="col-sm-10">
                        <select class="form-control" asp-for="IsAvailable">
                            <option value="null">Select</option>
                            <option value="true">Available</option>
                            <option value="false">Not available</option>
                        </select>
                    </div>

                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" asp-for="Level">Level</label>
                    <div class="col-sm-10">
                        <input class="form-control" asp-for="Level" placeholder="Level" />
                    </div>

                </div>
                <div class="buttons">
                    <button class="btn btn-primary" type="submit">Add supervisor</button>
                   
                </div>
            </form>
        </div>
    </div>
    <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
        <div class="container text-center">
            <small>Copyright &copy; Your Website</small>
        </div>
    </footer>
</body>
</html>
