﻿body {
    margin: 0;
    padding: 0;
    height: 100%; /* needed for container min-height */
}
.formBody {
    margin-left: 20%;
    margin-right: 20%;
    padding: 2rem;
}

.buttons {
    display:flex;
    justify-content:flex-end;
}

.btn-margin-left {
    margin-left: 1rem;
}
.btn-margin-top {
    margin-top: 1rem;
}
.btn-margin-bottom {
    margin-bottom: 2rem;
}

#sticky-footer {
    flex-shrink: 0;
    margin-top:2.85rem;
    bottom: 0;
}

.field-validation-error {
    color: #f00;
}
.field-validation-valid {
    display:none;
}
.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-error {
    font-weight:bold;
    color:#f00;
}

.validation-summary-valid {
    display: none;
}
.container {
    position: relative; /* needed for footer positioning*/
    height: auto !important; /* real browsers */
    min-height: 100%; /* real browsers */
}




